<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="background"></div>
    <div class="login">
      <input class="id-input" type="text" placeholder="아이디" />
      <input class="password-input" type="text" placeholder="비밀번호" />
      <div class="login-submit-btn">로그인</div>
    </div>
  </body>
</html>
