* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: Arial;
}

textarea {
  border: none;
}

input {
  border: none;
}

:root {
  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;

  --padding-xs: 0.25rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 1.75rem;

  --margin-xs: 0.25rem;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 1.75rem;

  --color-primary: #ff5a5f;

  --color-white: white;

  --color-black: black;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #eeeeee;
  --color-gray-2: #ededed;
  --color-gray-3: #dddddd;
  --color-gray-4: #cccccc;
  --color-gray-5: #bbbbbb;
  --color-gray-6: #aaaaaa;
  --color-gray-7: #999999;
  --color-gray-8: #888888;
  --color-gray-9: #666666;
  --color-gray-10: #333333;

  --color-green-0: #09ff00;
  --color-green-1: #07d100;

  --column-wdith: 30rem;

  --font-size-xl: 2rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.5rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gray-1);
}

.login {
  width: 30rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray-3);
  padding: var(--padding-xl);
  background: var(--color-white);
  border-radius: 5px;
}

.id-input {
  width: 100%;
  padding: var(--padding-md);
  font-size: var(--font-size-sm);
  color: var(--color-gray-6);
  margin-bottom: var(--margin-md);
}

.password-input {
  width: 100%;
  padding: var(--padding-md);
  font-size: var(--font-size-sm);
  color: var(--color-gray-6);
  margin-bottom: var(--margin-md);
}

.login-submit-btn {
  width: 100%;
  padding: var(--padding-md);
  background: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  text-align: center;
  border-radius: 5px;
}
